*{
  font-family: cursive;
}
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./666.jpeg");
  background-repeat: no-repeat;
  
}
#nav{
background: rgba(255, 255, 255, 0.85); /* خلفية بيضاء شبه شفافة */
backdrop-filter: blur(8px); /* تأثير الزجاج */
padding: 10px;
border-radius: 15px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* ظل ناعم يعطي عمقاً */
border: 1px solid rgba(255, 255, 255, 0.5);
justify-content: space-between;
background-color: rgba(234, 220, 176, 0.701);
margin: 5px;
display: flex;
align-items: center;
}
div #links a{
  color: #ffffff;
  padding: 5px 15px;
  text-decoration: none;
}
#fp{
  color: #d32f2f;
  text-decoration: none;
}
#logo{
  padding-left: 10px;
}
div #links a:hover{
  background-color: rgb(238, 233, 184);
  border-radius: 10px;
  scale: 110%;
}

form {
  width: 350px;
  margin: 10% auto;

}

fieldset {
  
  background: rgba(229, 226, 190, 0.8); 
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}



input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box; }

.buttons {
  display: flex;
  gap: 10px;
}


.login-btn {
  color: #9b0404;
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: 14px;
}
input[type="reset"]{
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: 14px;
}

.login-btn {
  background: #4CAF50;
  color: rgb(138, 4, 4);
}
input[type="submit"] {
  background: #029f3e;
  color: rgb(255, 255, 255);
}
input[type="reset"] {
  background: #f44336;
  color: rgb(255, 255, 255);
}
.login-btn:hover { 
  background: #45a049; 
}

input[type="reset"]:hover { background: #d32f2f; }

input[type="submit"]:hover { background: #03a819; }