<<<<<<< HEAD
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./666.jpeg");
  background-repeat: no-repeat;
  font-family: cursive; 
}

form {
  width: 350px;
}

fieldset {
  background: rgba(229, 226, 190, 0.8); 
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box; }

.buttons {
  display: flex;
  gap: 10px;
}


.login-btn {
  color: #9b0404;
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: 14px;
}
input[type="reset"]{
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: 14px;
}

.login-btn {
  background: #4CAF50;
  color: rgb(138, 4, 4);
}
input[type="submit"] {
  background: #029f3e;
  color: rgb(255, 255, 255);
}
input[type="reset"] {
  background: #f44336;
  color: rgb(255, 255, 255);
}
.login-btn:hover { 
  background: #45a049; 
}

input[type="reset"]:hover { background: #d32f2f; }
=======
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./666.jpeg");
  background-repeat: no-repeat;
  font-family: cursive; 
}

form {
  width: 350px;
}

fieldset {
  background: rgba(229, 226, 190, 0.8); 
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box; }

.buttons {
  display: flex;
  gap: 10px;
}


.login-btn {
  color: #9b0404;
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: 14px;
}
input[type="reset"]{
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: 14px;
}

.login-btn {
  background: #4CAF50;
  color: rgb(138, 4, 4);
}
input[type="submit"] {
  background: #029f3e;
  color: rgb(255, 255, 255);
}
input[type="reset"] {
  background: #f44336;
  color: rgb(255, 255, 255);
}
.login-btn:hover { 
  background: #45a049; 
}

input[type="reset"]:hover { background: #d32f2f; }
>>>>>>> 5a3c07713670ff2f17391371223e1f79de32722b
input[type="submit"]:hover { background: #03a819; }