body {
  background-image: url("./666.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-left: 594px;
  font-family: Arial, sans-serif;
}

/* الفورم */
form {
  width: 350px;
}

/* الكارد */
fieldset {
  background: rgb(229, 226, 190);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


body {
  font-family: 'Inter', sans-serif;
}
/* العنوان */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
   font-family: 'Inter', sans-serif;
}

/* الليبل */
label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* الانبوت */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #000000;
  
}

/* الأزرار */
.buttons {
  display: flex;
  gap: 10px;
}

input[type="submit"],
input[type="reset"] {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

/* زر تسجيل */
input[type="submit"] {
  background: #4CAF50;
  color: white;
}

/* زر حذف */
input[type="reset"] {
  background: #f44336;
  color: white;
}

/* hover */
input[type="submit"]:hover {
  background: #45a049;
}

input[type="reset"]:hover {
  background: #d32f2f;
}