*{
  font-family: cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {

  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./666.jpeg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
#nav{
position:sticky;
top: 0;
background: rgba(255, 255, 255, 0.85); /* خلفية بيضاء شبه شفافة */
backdrop-filter: blur(8px); /* تأثير الزجاج */
padding: 10px;
border-radius: 15px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* ظل ناعم يعطي عمقاً */
border: 1px solid rgba(255, 255, 255, 0.5);
justify-content: space-between;
background-color: rgba(234, 220, 176, 0.701);
margin: 5px;
display: flex;
align-items: center;
font-family: cursive;
}
div #links a{
  color: #ffffff;
  padding: 5px 15px;
  text-decoration: none;
}
#logo{
  padding-left: 10px;
}
div #links a:hover{
  background-color: rgb(238, 233, 184);
  border-radius: 10px;
  scale: 110%;
}

.container {
  background: rgb(229, 226, 190);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 10% auto;
}

h2 {
  margin: 20px;
}

input {
  width: 90%;
  padding:  10px;
  margin: 10px ;
  border: none;
  border-radius: 5px;
  
}

button {
  width: 90%;
  padding: 10px;
  margin: 10px ;
  background: #990b19;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #02aa05;
  
}

a {
  color: #bb0719;
  text-decoration: none;

}